Задание 1
https://netology.ru/profile/program/numpy-50/lessons/322143/lesson_items/1742493

In [1]:
import pandas as pd

In [34]:
df = pd.read_csv('Лекция Функции и работа с данными/ml-latest-small/ratings.csv')

In [35]:
def film_classification(param):
    if param <=2:
        return 'низкий рейтинг'
    elif param <= 4:
        return 'средний рейтинг'
    elif param == 4.5 or param == 5.0:
        return 'высокий рейтинг'
    
    


df['class'] = df['rating'].apply(film_classification)

In [36]:
df

        userId  movieId  rating   timestamp            class
0            1       31     2.5  1260759144  средний рейтинг
1            1     1029     3.0  1260759179  средний рейтинг
2            1     1061     3.0  1260759182  средний рейтинг
3            1     1129     2.0  1260759185   низкий рейтинг
4            1     1172     4.0  1260759205  средний рейтинг
...        ...      ...     ...         ...              ...
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

[100004 rows x 5 columns]

Задание 2
https://netology.ru/profile/program/numpy-50/lessons/322143/lesson_items/1742493

In [37]:
keywords = pd.read_csv('Лекция Функции и работа с данными/ml-latest-small/keywords.csv')

In [65]:
def geo_classifier(word):
    for region, cities in geo_data.items():
        if word in cities:
            return region
        else:
            return 'undefined'

In [38]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [66]:
keywords['region'] = keywords['keyword'].apply(geo_classifier)

In [67]:
keywords[1259:]

                              keyword   shows     region
1259                           москва  153050      Центр
1260                         прибытие  152972  undefined
1261                             лайф  152878  undefined
1262   28 панфиловцев смотреть онлайн  161658  undefined
1263                           хендай  152324  undefined
...                               ...     ...        ...
99995          эльдорадо старый оскол    3705  undefined
99996             frigate для firefox    3630  undefined
99997                          укрсиб    3630  undefined
99998         погода в ялте на неделю    3688  undefined
99999                            ггму    3630  undefined

[98741 rows x 3 columns]

Задание 3 (бонусное)
https://netology.ru/profile/program/numpy-50/lessons/322143/lesson_items/1742493

In [78]:
movies = pd.read_csv('Лекция Функции и работа с данными/ml-latest-small/movies.csv')

In [69]:
ratings = pd.read_csv('Лекция Функции и работа с данными/ml-latest-small/ratings.csv')

In [75]:
years = range(1950,2011)

In [101]:
def production_year(film_name):
    for year in years:
        if str(year) in film_name:
            return year
    else:
        return 1900

In [ ]:
df = pd.DataFrame({'movieId': [1], 'title': ['фильм (1995)'], 'orders': [2, 4, 0], 'calculated': [False, False, True]})

In [102]:
movies['year'] = movies['title'].apply(production_year)

In [103]:
movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,1900
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,1900
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,1900
9123,164977,The Gay Desperado (1936),Comedy,1900
9124,164979,"Women of '69, Unboxed",Documentary,1900

In [110]:
# Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.
movies.merge(ratings, on='movieId').groupby('year').mean().sort_values('rating',ascending=False).filter(items = ['year', 'rating'])

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]